<div class="container">



  <div>
    <h1>Register your Account</h1>
  </div>
  <br>

  <form form [formGroup]="form">
    <div class="item">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput maxlength="20" minlength="5" formControlName="username" id="username" name="lastname" required
          type="text">


      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field maxlength="20" minlength="5" appearance="outline" color="primary">
        <mat-label>Password</mat-label>
        <input matInput id="password" name="password" formControlName="password" required type="password">


      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput maxlength="45" minlength="5" formControlName="name" id="name" name="firstname" required
          type="text">


      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput maxlength="45" minlength="5" formControlName="lastName" id="lastName" name="lastname" required
          type="text">


      </mat-form-field>





    </div>

    <div class="item">
      <mat-form-field appearance="outline">
        <mat-label>Email Adress</mat-label>
        <input matInput maxlength="50" minlength="5" formControlName="email" id="email" name="email" required
          type="email">

        <mat-error *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
          Invalid email address.
        </mat-error>

      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput maxlength="45" minlength="5" formControlName="city" id="city" name="city" required type="text">


      </mat-form-field>





    </div>

   


      <div class="photo-picker">

        <mat-card class="avatar-card">
          <p>Avatar</p>
            <img *ngIf="imageSelected" mat-card-image [src]="this.imageUrl" alt="Not selected">
            <mat-icon class="default-icon" *ngIf="!imageSelected" >account_circle</mat-icon>
            
            <div class="add-image-container">
              
              <button class="add-icon" mat-button type="file"  (click)="photoInput.click()">Choose photo</button>
            </div>

            
        </mat-card>
        
        
        
      </div>

      <br>
      
      <br>
    

    <button mat-raised-button class="main-login-button" [disabled]="form.invalid" type="submit" (click)="save(form)">Register</button>
    <br>
    <hr>
    <br>
    <button mat-raised-button class="main-button" routerLink="/auth/login">Already registered? Log in</button>
  </form>
  
 

  
  <input #photoInput hidden="true" type="file" onclick="this.valuee=null" (change)="onFileSelected($event)"
  accept="image/*" />



</div>